@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #3a3a3a;
  scroll-behavior: smooth;
}

body {
  widows: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 250vh;
}

body .navbar {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .navbar .sign_in_or_out {
  color: white;
}

body .navbar .sign_in_or_out a {
  color: white;
}

body .bgs {
  width: 100%;
  height: 50%;
}

body .backGround img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .banners {
  width: 50%;
  height: 230vh;
  position: absolute;
  z-index: 10;
  top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .banners .banner {
  position: relative;
  width: 100%;
  height: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 50px;
  padding: 50px;
}

body .banners .banner .heading {
  width: 100%;
}

body .banners .banner .heading h1, body .banners .banner .heading h2 {
  text-align: left;
  color: #005dbb;
  font-size: 36px;
  font-family: 'Roboto';
}

body .banners .banner .heading h1 {
  font-size: 72px;
}

body .banners .banner .description {
  text-align: left;
  color: #005dbb;
}

body .banners .banner .perks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  margin-top: 100px;
}

body .banners .banner .perks .perk {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  height: 200px;
}

body .banners .banner .perks .perk svg {
  width: 30px;
  height: 30px;
}

body .banners .banner .perks .perk .text {
  text-align: left;
  color: #005dbb;
}

body .banners .bottomBanner {
  background: #005dbb;
}

body .banners .bottomBanner .heading h1, body .banners .bottomBanner .heading h2 {
  color: white;
}

body .banners .bottomBanner .description {
  color: white;
}

body .banners .bottomBanner .teamDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

body .banners .bottomBanner .teamDetails h3 {
  color: white;
  font-family: 'Roboto';
}

body .banners .bottomBanner .teamDetails ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}

body .banners .bottomBanner .teamDetails ul li {
  text-align: left;
  list-style: none;
  color: white;
}

body .copyrights {
  color: white;
  padding-bottom: 10px;
}

body .primaryColoreBackground {
  background: #005dbb;
}
/*# sourceMappingURL=About.css.map */