@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$primary-color: #0fbcf9;
$black-color: #292929;
$font-color:#3a3a3a;
$shadow:0 5px 6px rgba(83, 83, 83, 0.2);
$border-style: 1px solid #a7a7a756;
$gradient-dark:#005dbb;
$gradient-light:#0875e0;
@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin Shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
@mixin flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: $font-color;
    scroll-behavior: smooth;
}
body{
    widows: 100%;
    @include flexColumn();
    justify-content: flex-start;
    height: 250vh;
    .navbar{
        background: none;
        box-shadow: none;
        .sign_in_or_out{
            color: white;
            a{
                color: white;
            }
        }
    }
    .bgs{
        width: 100%;
        height: 50%;
    }
    .backGround{
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .banners{
        width: 50%;
        height: 230vh;
        position: absolute;
        z-index: 10;
        top: 20vh;
        @include flexColumn();
        .banner{
            position: relative;
            width: 100%;
            height: 50%;
            background: white;
            @include flexColumn();
            align-items: flex-start;
            justify-content: flex-start;
            gap: 50px;
            padding: 50px;
            .heading{
                width: 100%;
                
                h1,h2{
                    text-align: left;
                    color: $gradient-dark;
                    font-size: 36px;
                    font-family: 'Roboto';
                }
                h1{
                    font-size: 72px;
                }
            }
            .description{
                
                text-align: left;
                color: $gradient-dark;
            }
            .perks{
                width: 100%;
                @include flexRow();
                justify-content: flex-start;
                gap: 20px;
                margin-top: 100px;
                .perk{
                    width: 25%;
                    @include flexColumn();
                    align-items: flex-start;
                    gap: 20px;
                    height: 200px;
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                    .text{
                        text-align: left;
                        color: $gradient-dark;
                    }
                }
            }
        }
        .bottomBanner{
            background: $gradient-dark;
            .heading{
                h1,h2{
                    color: white;
                }
               
            }
            .description{
                color: white;
            }
            .teamDetails{
                @include flexColumn();
                align-items: flex-start;
                gap: 20px;
                h3{
                    color: white;
                    font-family:'Roboto';
                }
                ul{
                    @include flexRow();
                    gap: 20px;
                    li{
                        text-align: left;
                        list-style: none;
                        color: white;
                    }
                }
                
            }
        }

    }
    .copyrights{
        color: white;
        padding-bottom: 10px;
    }
    
    
    .primaryColoreBackground{
        background: $gradient-dark;
    }
}