@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #3a3a3a;
  scroll-behavior: smooth;
}

body {
  widows: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 10vh 0 10vh 0;
  background: #f3f2ef;
}

body .addFeedComponent {
  margin-left: 10%;
  width: 60%;
  background: white;
  border-radius: 10px;
  border: 1px solid #a7a7a756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  gap: 20px;
}

body .addFeedComponent h2 {
  color: #005dbb;
  font-family: 'Roboto';
}

body .addFeedComponent .feedDescription {
  width: 80%;
  height: 200px;
  resize: none;
}

body .addFeedComponent .mediaPreview {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .addFeedComponent .mediaPreview h3 {
  color: #005dbb;
}

body .addFeedComponent .mediaPreview .mediawrap {
  width: 100%;
  padding: 5px;
  border: 1px dashed rgba(63, 63, 63, 0.432);
}

body .addFeedComponent .mediaPreview .mediawrap img, body .addFeedComponent .mediaPreview .mediawrap video {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .addFeedComponent .resourceOptions {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

body .addFeedComponent .resourceOptions .addMedia {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border: 1px dashed rgba(63, 63, 63, 0.432);
  border-radius: 20px;
  cursor: pointer;
  background: white;
}

body .addFeedComponent .resourceOptions .addMedia svg {
  width: 40px;
  height: 40px;
}

body .addFeedComponent .resourceOptions .addMedia:hover {
  background: rgba(231, 231, 231, 0.836);
}

body .addFeedComponent .PostFeedButton {
  width: 120px;
  height: 40px;
}

body .addFeedComponent .PostFeedButton a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #0fbcf9;
  color: white;
}

body .addFeedComponent .PostFeedButton a:hover {
  background: #005dbb;
}
/*# sourceMappingURL=addFeed.css.map */