@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'nuninto', sans-serif;
  font-size: 14px;
}

body {
  widows: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 10vh 0 10vh 0;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5% 0 5%;
}

body header .Logo svg {
  width: 36px;
  height: 36px;
}

body header p {
  font-family: 'Roboto';
  font-size: 18px;
  color: #0fbcf9;
}

body #signupForm {
  width: 40%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #signupForm .title {
  width: 300px;
  height: 100px;
  text-align: left;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  color: #005dbb;
}

body #signupForm button {
  width: 120px;
  height: 40px;
  background: #0fbcf9;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  border-radius: 20px;
  z-index: 5;
  border: none;
  outline: none;
}

body #signupForm button:hover {
  background: #005dbb;
  color: white;
}

body #signupForm .inputFields {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

body #signupForm .inputFields .input-field {
  position: relative;
  width: 300px;
  height: 44px;
  line-height: 44px;
}

body #signupForm .inputFields label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #686868;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: text;
}

body #signupForm .inputFields input {
  width: 100%;
  height: 45px;
  border: 0;
  outline: 0;
  padding-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #111;
  border: 1px solid #005dbb;
}

body #signupForm .inputFields input:invalid {
  outline: 0;
}

body #signupForm .inputFields input:focus,
body #signupForm .inputFields input:valid {
  border-color: #0fbcf9;
  background: #005dbb18;
}

body #signupForm .inputFields input:focus ~ label,
body #signupForm .inputFields input:valid ~ label {
  font-size: 14px;
  top: -30px;
  left: 0;
  color: #0fbcf9;
}

body .bgIllustration {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=signup.css.map */